//
// 1. Fonts
//    (Locally defined/downloaded TTFs for Webfonts)
//
@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  src: local('Fondamento Regular'), local('Fondamento-Regular'), url('../fonts/Fondamento/Fondamento-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fondamento';
  font-style: italic;
  font-weight: 400;
  src: local('Fondamento-Italic'), url('../fonts/Fondamento/Fondamento-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu-R'), url('../fonts/Ubuntu/Ubuntu-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu-RI'), url('../fonts/Ubuntu/Ubuntu-RI.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu-B'), url('../fonts/Ubuntu/Ubuntu-B.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  src: local('Ubuntu-BI'), url('../fonts/Ubuntu/Ubuntu-BI.ttf') format('truetype');
}

//
// 2. Palette definitions
//    (Locally defined/downloaded TTFs for Webfonts)
//
@theme-headerfooter-text-color: #f5f5f5;
@theme-headerfooter-background-color: #333;
@theme-headerfooter-border-color: darken(@theme-headerfooter-background-color, 6.5%);
@theme-headerfooter-hover-color: #777;
@theme-headerfooter-hover-background-color: #ddd;
@theme-headerfooter-disabled-color: #777;
@theme-headerfooter-disabled-background-color: transparent;

//
// 3. Bootstrap overrides
//    (Non-theme-dependent CSS overrides)
//
html {
  min-height: 100%;
  position: relative;
}

@body-padding-top: 70px;
@body-margin-bottom: 60px;
body {

  // Required. (Body will otherwise flow under the NavBar, which is attached to the window top).
  // By default, the NavBar is 50px high.
  padding-top: @body-padding-top;

  // Required. (Body will otherwise flow under the Footer, which is attached to the window bottom).
  // By default, the Footer is 50px high.
  margin-bottom: @body-margin-bottom;
}

//
// Mixin: Page footer
//
.footer(
  @footer-color: @theme-headerfooter-text-color;
  @footer-background-color: @theme-headerfooter-background-color;
  @footer-border-color: @theme-headerfooter-border-color;
  @footer-container-padding: 15px;
  @footer-height: 60px;) {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background-color: @footer-background-color;
  border: 1px solid @footer-border-color;
  color: @footer-color;

  .container {
    padding-top: @footer-container-padding;
    padding-right: @footer-container-padding;
    padding-left: @footer-container-padding;
  }
}

//
// Mixin: Top navigation bar
//
.topNavBar(// Navbar colors
  @navbar-color: @theme-headerfooter-text-color;                                   // Navbar Color
  @navbar-background-color: @theme-headerfooter-background-color;                  // Navbar BG Color
  @navbar-border-color: @theme-headerfooter-border-color;                          // Navbar Border Color
  @navbar-hover-color: @theme-headerfooter-hover-color;                            // Navbar Hover Color
  @navbar-hover-background-color: @theme-headerfooter-hover-background-color;      // Navbar Hover BG Color
  // Navbar links
  @navbar-link-color: @theme-headerfooter-text-color;                              // Navbar Link Color
  @navbar-link-hover-color: @theme-headerfooter-hover-color;                       // Navbar Link Hover Color
  @navbar-link-hover-bg: transparent;                                              // Navbar Link Hover BG Color
  @navbar-link-active-color: lighten(@theme-headerfooter-text-color, 10%);         // Navbar Link active Color
  @navbar-link-active-bg: darken(@theme-headerfooter-background-color, 6.5%);      // Navbar Link active BG Color
  @navbar-link-disabled-color: @theme-headerfooter-disabled-color;                 // Navbar Link disabled Color
  @navbar-link-disabled-bg: @theme-headerfooter-disabled-background-color;         // Navbar Link disabled BG Color
  // Navbar toggle
  @navbar-toggle-hover-bg: transparent;                                            // Navbar Toggle Hover BG Color
  @navbar-toggle-icon-bar-bg: #888;                                                // Navbar Toggle Icon Bar BG Color
  @navbar-toggle-border-color: #ddd;                                               // Navbar Toggle Border Color
  // Navbar brand label
  @navbar-brand-color: @theme-headerfooter-text-color;                             // Navbar Brand Color
  @navbar-brand-hover-color: darken(@theme-headerfooter-text-color, 10%);          // Navbar Brand Hover Color
  @navbar-brand-hover-bg: transparent;                                             // Navbar Brand Hover BG Color
) {

  // Standard definitions
  background-color: @navbar-background-color;
  border-color: @navbar-border-color;
  color: @navbar-color;

  .navbar-brand {
    color: @navbar-color;
    &:hover, &:focus {
      color: @navbar-brand-hover-color;
      background-color: @navbar-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-color;
  }

  .navbar-toggle {
    border-color: @navbar-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-toggle-icon-bar-bg;
    }
  }

  // Dropdown menu items
  .navbar-nav {

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-link-active-bg;
        color: @navbar-link-active-color;
      }
    }

    > li > a {
      color: @navbar-link-color;

      &:hover,
      &:focus {
        color: @navbar-link-hover-color;
        background-color: @navbar-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-link-hover-color;
        background-color: @navbar-link-hover-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-link-disabled-color;
        background-color: @navbar-link-disabled-bg;
      }
    }
  }
}

.sections(
  @sections-color;
  @sections-margin-top;
  @sections-margin-bottom;
  @sections-font-weight;
  @sections-font-family;
) {
  h1, h2, h3, h4, h5, h6 {
    color: @sections-color;
    margin-top: @sections-margin-top;
    margin-bottom: @sections-margin-bottom;
    font-weight: @sections-font-weight;

    // Only affect the font-family if an argument was actually passed.
    font-family: @sections-font-family when (isstring(@sections-font-family));
  }
}

//
// 4. Generic
//    (Non-theme-dependent CSS overrides)
//
.boldItalic() {
  font-style: italic;
  font-weight: bold;
}

.contentContainer(
  @content-container-border-width: 5px;
  @content-container-border-color: #333333;
  @content-container-background-color: #eeeeee;
  @content-container-padding: 10px 10px 0 10px;
) {
  border: @content-container-border-width solid @content-container-border-color;
  border-radius: @content-container-border-width;
  background-color: @content-container-background-color;
  padding: @content-container-padding;
}

.dropshadow(
  @dropshadow-horizontal-shadow: 10px;
  @dropshadow-vertical-shadow: 10px;
  @dropshadow-blur: 40px;
  @dropshadow-spread: 4px;
  @dropshadow-color: #113311;
) {
  // h-shadow v-shadow blur spread color
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.infobox(
  @infobox-title-font-size: 14pt;
  @infobox-title-font-weight: 400;
  @infobox-title-font-family: 'Fondamento', cursive;
  @infobox-title-padding: 6px 10px;
  @infobox-title-border: 1px solid;
  @infobox-title-border-color: #444444 #333333 #333333 #444444;
  @infobox-title-color: #eeffee;
  @infobox-title-background-color: #E5E5E5;
  @infobox-text-color: #eeffee;
  @infobox-background-color: #222222;
) {

  // Each infobox has a title and a content area
  // Standard formatting
  margin-bottom: 0.6em;

  .title {
    color: @infobox-title-color;
    background: @infobox-title-background-color;

    // Padding and border
    border: @infobox-title-border;
    border-color: @infobox-title-border-color;
    border-radius: 5px;
    padding: @infobox-title-padding;

    // Define the font
    font-family: @infobox-title-font-family when (isstring(@infobox-title-font-family));
    font-weight: @infobox-title-font-weight;
    font-size: @infobox-title-font-size;
  }

  .content {
    color: @infobox-text-color;
    padding: 8px 0 8px;
  }

  .li:first-child {
    border-top: none;
  }
}

//
// 5. Themes
//    (Contains CSS override definitions per theme)
//
.stdTheme(
  @theme-name;                                                                           // Theme name
  @theme-headerfooter-text-color;                                                        // Header/Footer text color
  @theme-headerfooter-background-color;                                                  // Header/Footer background color
  @theme-headerfooter-border-color: darken(@theme-headerfooter-background-color, 6.5%);  // Header/Footer border color
  @theme-headerfooter-hover-color;                                                       // Header/Footer hover color
  @theme-headerfooter-hover-background-color;                                            // Header/Footer hover BG color
  @theme-headerfooter-disabled-color;                                                    // Header/Footer disabled (text) color
  @theme-headerfooter-disabled-background-color: transparent;                            // Header/Footer disabled BG color
  @theme-mainContainer-transparency: 0.7;                                                // MainContainer transparency
  @theme-text-background;                                                                // MainContainer BG color
  @theme-text-color;                                                                     // MainContainer text color
  @theme-title-background-color;                                                         // Title BG color
  @theme-header-font-family: 'Ubuntu', sans-serif;) {                                    // Header font family

  // Standard definitions
  @theme-background-image: '../themes/@{theme-name}/image/background-image.jpg';
  background: url(@theme-background-image) no-repeat fixed;
  background-size: cover;

  // Outline the content containers
  .contentContainer {

    // Fire the macro to create the content container.
    .contentContainer(
            5px;
            @theme-title-background-color;
            rgba(255, 255, 255, @theme-mainContainer-transparency);
            10px 10px 0 10px;);

    // Add a standardized drop shadow.
    .dropshadow(5px; 5px; 15px; 5px; @theme-headerfooter-background-color;);

    // Add formatting for infobox and articles
    .infobox {
      .infobox(
              14pt;                               // Font size
              400;                                // Font weight
              @theme-header-font-family;          // Font family
              6px 10px;                           // Title padding
              1px solid;                          // Title border
              @theme-headerfooter-border-color;   // Title border-color
              @theme-headerfooter-text-color;     // Title color (text)
              @theme-text-color;                  // Text color
              @theme-title-background-color;);    // Background color
    }
  }

  // Page structure elements definition.
  #mainContainer {

    // The left-column sidebar contains snippets of quick information
    #leftColumnSidebar {
      border-radius: 5px;
    }

    // The main content div contains the main information on the page.
    #mainContent {
      border-radius: 5px;
      margin-left: 30px;
      color: @theme-text-color;
      background-color: rgba(255, 255, 255, @theme-mainContainer-transparency);

      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.3em;
      }
    }
  }

  #topNavBar {
    .topNavBar(
            @theme-headerfooter-text-color;                                  // Navbar Color
            @theme-headerfooter-background-color;                            // Navbar BG Color
            @theme-headerfooter-border-color;                                // Navbar Border Color
            @theme-headerfooter-hover-color;                                 // Navbar Hover Color
            @theme-headerfooter-hover-background-color;                      // Navbar Hover BG Color
            @theme-headerfooter-text-color;                                  // Navbar Link Color
            lighten(@theme-headerfooter-hover-color, 10%);                   // Navbar Link Hover Color
            transparent;                                                     // Navbar Link Hover BG Color
            lighten(@theme-headerfooter-text-color, 10%);                    // Navbar Link active Color
            darken(@theme-headerfooter-background-color, 6.5%);              // Navbar Link active BG Color
            @theme-headerfooter-disabled-color;                              // Navbar Link disabled Color
            @theme-headerfooter-disabled-background-color;                   // Navbar Link disabled BG Color
            transparent;                                                     // Navbar Toggle Hover BG Color
            @theme-headerfooter-text-color;                                  // Navbar Toggle Icon Bar BG Color
            darken(@theme-headerfooter-text-color, 10%);                     // Navbar Toggle Border Color
    );
  }

  footer {
    .footer(@theme-headerfooter-text-color; @theme-headerfooter-background-color; @theme-headerfooter-border-color);
  }

  .modal-content {
    color: @theme-headerfooter-text-color;
    background-color: @theme-headerfooter-background-color;
  }
}

.sylvan {

  // Palette definitions
  @theme-text-color: #2F455F;
  @theme-headerfooter-text-color: #94DFFF;
  @theme-headerfooter-background-color: #3B5A77;
  @theme-headerfooter-border-color: darken(@theme-headerfooter-background-color, 6.5%);
  @theme-headerfooter-hover-color: #f5f5f5;
  @theme-headerfooter-hover-background-color: #ddf;
  @theme-headerfooter-disabled-color: #559;
  @theme-headerfooter-disabled-background-color: transparent;

  .stdTheme('sylvan';
          @theme-headerfooter-text-color;
          @theme-headerfooter-background-color;
          @theme-headerfooter-border-color;
          @theme-headerfooter-hover-color;
          @theme-headerfooter-hover-background-color;
          @theme-headerfooter-disabled-color;
          @theme-headerfooter-disabled-background-color;
          0.7;
          #f5f5f5;
          @theme-text-color;
          @theme-headerfooter-background-color;
          'Fondamento', cursive;);

  h1, h2, h3, h4, h5, h6 {
    color: #444480;
    margin-bottom: 0.3em;
    font-family: 'Fondamento', cursive;
    font-weight: 400;
  }
}

.ocean {

  // Palette definitions
  @theme-text-color: #2F455F;
  @theme-headerfooter-text-color: #78a5cc;
  @theme-headerfooter-background-color: #2a313b;
  @theme-headerfooter-border-color: darken(@theme-headerfooter-background-color, 6.5%);
  @theme-headerfooter-hover-color: #78a5cc;
  @theme-headerfooter-hover-background-color: #d6e6f5;
  @theme-headerfooter-disabled-color: #559;
  @theme-headerfooter-disabled-background-color: transparent;

  // Delegate
  .stdTheme('ocean'; @theme-headerfooter-text-color;
          @theme-headerfooter-background-color;
          @theme-headerfooter-border-color;
          @theme-headerfooter-hover-color;
          @theme-headerfooter-hover-background-color;
          @theme-headerfooter-disabled-color;
          @theme-headerfooter-disabled-background-color;
          0.7;
          #f5f5f5;
          @theme-text-color;
          @theme-headerfooter-background-color;
          "Helvetica Neue", Helvetica, Arial, sans-serif;);
}

.silly {

  // Palette definitions
  @theme-text-color: #2F455F;
  @theme-headerfooter-text-color: #ccaea5;
  @theme-headerfooter-background-color: #6E5A56;
  @theme-headerfooter-border-color: darken(@theme-headerfooter-background-color, 6.5%);
  @theme-headerfooter-hover-color: #A68984;
  @theme-headerfooter-hover-background-color: #D2ADA8;
  @theme-headerfooter-disabled-color: darken(@theme-headerfooter-hover-color, 6.5%);
  @theme-headerfooter-disabled-background-color: transparent;

  .stdTheme('silly';                                      // Theme name
          @theme-headerfooter-text-color;                 // Header/Footer text color
          @theme-headerfooter-background-color;           // Header/Footer background color
          @theme-headerfooter-border-color;               // Header/Footer border color
          @theme-headerfooter-hover-color;                // Header/Footer hover color
          @theme-headerfooter-hover-background-color;     // Header/Footer hover BG color
          @theme-headerfooter-disabled-color;             // Header/Footer disabled (text) color
          @theme-headerfooter-disabled-background-color;  // Header/Footer disabled BG color
          0.7;                                            // MainContainer transparency
          #f5f5f5;                                        // MainContainer BG color
          @theme-text-color;                              // MainContainer text color
          @theme-headerfooter-background-color;           // Infobox Title BG color
          'Ubuntu', sans-serif;);  // Header font family

  // Add formatting for infobox and articles
  .contentContainer {

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Ubuntu', sans-serif;
    }

    .infobox {
      .title {
        font-family: 'Ubuntu', sans-serif;
        background-color: @theme-headerfooter-background-color;
      }
    }
  }
}

.nazgul {

  // Palette definitions
  @theme-text-color: #efe;
  @theme-headerfooter-text-color: #99ff99;
  @theme-headerfooter-background-color: #333333;
  @theme-headerfooter-border-color: #111111;
  @theme-headerfooter-hover-color: #333333;
  @theme-headerfooter-hover-background-color: #bbffbb;
  @theme-headerfooter-disabled-color: #bbbbbb;
  @theme-headerfooter-disabled-background-color: transparent;
  @theme-mainContainer-transparency: 0.7;

  .stdTheme('nazgul';                                     // Theme name
          @theme-headerfooter-text-color;                 // Header/Footer text color
          @theme-headerfooter-background-color;           // Header/Footer background color
          @theme-headerfooter-border-color;               // Header/Footer border color
          @theme-headerfooter-hover-color;                // Header/Footer hover color
          @theme-headerfooter-hover-background-color;     // Header/Footer hover BG color
          @theme-headerfooter-disabled-color;             // Header/Footer disabled (text) color
          @theme-headerfooter-disabled-background-color;  // Header/Footer disabled BG color
          @theme-mainContainer-transparency;              // MainContainer transparency
          #f5f5f5;                                        // MainContainer BG color
          @theme-text-color;                              // MainContainer text color
          @theme-headerfooter-background-color;           // Infobox Title BG color
          'Fondamento', cursive;);                        // Header font family

  // Use a green, stylish font for headings.
  .sections(#9f9; 10px; 0; 400; 'Fondamento', cursive;);

  // Outline the content containers
  .contentContainer {

    // Fire the macro to create the content container.
    .contentContainer(5px; #333333; #444444; 10px 10px 0 10px;);

    // Add a nazgul-style, green drop shadow.
    .dropshadow(10px; 10px; 30px; 10px; #008000;);

    // Add formatting for infobox and articles
    .infobox {
      .infobox(
              14pt;
              400;
              'Fondamento', cursive;
              6px 10px;
              1px solid #444444 #333333 #333333 #444444;
              #efe;
              #222;);

      .title {
        color: #efe;
        background-color: #222;
        border-color: #333 #444 #444 #333;
      }
    }
  }

  // Page structure elements definition.
  #mainContainer {

    // The main content div contains the main information on the page.
    #mainContent {
      background-color: rgba(68, 68, 68, 0.6);
    }
  }
}
