<!DOCTYPE html>
<html lang="en" data-ng-app="mithlond-web">
<head>
    <!-- Ensure proper encoding. -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta about="POM version: ${version}, Build time: ${timestamp}">

    <!-- Define the page title -->
    <title>Mithlonds Intranät</title>

    <!-- Include Links for Font-Awesome, WebFonts and custom CSS -->
    <link rel="stylesheet"
          href="${cdnPrefix}/bootstrap/${org.webjars/bootstrap/version}/css/bootstrap.${minSuffix}css">
    <link rel="stylesheet"
          href="${cdnPrefix}/font-awesome/${org.webjars/font-awesome/version}/css/font-awesome.${minSuffix}css">
    <link rel="stylesheet" href="css/main.${minSuffix}css">

    <!-- Include JavaScript -->
    <script type="text/javascript"
            src="${cdnPrefix}/jquery/${org.webjars/jquery/version}/jquery.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/bootstrap/${org.webjars/bootstrap/version}/js/bootstrap.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angularjs/${org.webjars/angularjs/version}/angular.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angularjs/${org.webjars/angularjs/version}/angular-route.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angularjs/${org.webjars/angularjs/version}/angular-aria.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angularjs/${org.webjars/angularjs/version}/angular-sanitize.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angular-strap/${org.webjars/angular-strap/version}/angular-strap.${minSuffix}js"></script>
    <script type="text/javascript"
            src="${cdnPrefix}/angular-strap/${org.webjars/angular-strap/version}/angular-strap.tpl.${minSuffix}js"></script>

    <!-- Include the AngularJS application and all its Modules. -->
    <script type="text/javascript" src="app/MithlondWeb.js"></script>
    <script type="text/javascript" src="app/service/ThemeService.js"></script>
</head>
<body data-ng-class="theme.name">
<!-- Page header -->
<header class="navbar navbar-fixed-top bs-docs-nav" id="topNavBar" role="banner">
    <div class="container">
        <div class="navbar-header" role="navigation">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Mithlond</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse" data-bs-navbar>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Nyheter <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/news/current">Nyheter</a></li>
                        <li><a href="#/news/status">Status</a></li>
                        <li><a href="#/news/ideas">Ideer</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Medlemmar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/members/search">Sök medlemmar</a></li>
                        <li><a href="#/members/reports">Rapporter och Rullan</a></li>
                        <li><a href="#/members/admin">Administrera medlemmar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Föreningen <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/organisation/facts">Föreningsfakta</a></li>
                        <li><a href="#/organisation/activities">Aktiviteter</a></li>
                        <li><a href="#/organisation/law">Lagen</a></li>
                        <li><a href="#/organisation/posts">Ämbetsordningen</a></li>
                        <li><a href="#/organisation/decrees">Påbud</a></li>
                        <li><a href="#/organisation/mailinglists">ePost-listor</a></li>
                        <li><a href="#/organisation/private/council">Rådssidor</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Inställningar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/settings/personalInfo"><i class="fa fa-cogs fa-fw"></i> Personligt</a></li>
                        <li><a href="#/settings/guildsGroups"><i class="fa fa-users fa-fw"></i> Gillen, Grupper</a></li>
                        <li><a href="#/settings/allergies"><i class="fa fa-medkit fa-fw"></i> Allergier</a></li>
                        <li><a href="#/settings/changeCredentials"><i class="fa fa-key fa-fw"></i> Ändra lösenord</a>
                        </li>
                        <li><a href="#/settings/themes"><i class="fa fa-picture-o fa-fw"></i> Välj tema</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" class="text-capitalize">
                        <i class="fa fa-picture-o fa-fw"></i>&nbsp;{{theme.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="current in themes">
                            <a data-ng-click="setTheme(current.name)">Tema: {{current.name}}</a>
                        </li>
                    </ul>
                </li>
                <!-- li><a href="#/download/client" target="_blank"><i
                        class="fa fa-download fa-fw"></i>&nbsp;IntranetApp</a></li -->
            </ul>
        </nav>
    </div>
</header>
<div id="mainContainer" class="container">
    <div class="row">
        <div class="col-md-3 dropshadow contentContainer">
            <!-- Start Boxes Iteration -->
            <div id="leftColumnSidebar">
                <div class="box">
                    <h2>Dina Tillgångar</h2>
                    <div class="box_content">
                        <div>Tillgångar visas positivt, skulder negativt.<br/>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Konto</th>
                                    <th>Belopp</th>
                                    <th>Valuta</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span>Mithlond</span></td>
                                    <td><span style="margin-left:5px">42,5</span></td>
                                    <td style="padding-left:5px">(<span>SEK</span>)</td>
                                </tr>
                                <tr>
                                    <td><span>Mithlonds Barnota</span></td>
                                    <td><span style="margin-left:5px">190</span></td>
                                    <td style="padding-left:5px">(<span>SEK</span>)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box_title"><span>Skall vi fira?</span></div>
                    <div class="box_content">
                        <div>Födelsedagar inom <span>30</span> dagar:<br/>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Alias</th>
                                    <th>Födelsedag</th>
                                    <th>Ålder</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Lochiel</span></td>
                                    <td><span style="margin-left:5px">1972-08-14</span></td>
                                    <td style="padding-left:5px"><span>43</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Calenestel</span></td>
                                    <td><span style="margin-left:5px">1983-08-20</span></td>
                                    <td style="padding-left:5px"><span>32</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Valnaur</span></td>
                                    <td><span style="margin-left:5px">1982-08-21</span></td>
                                    <td style="padding-left:5px"><span>33</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Ungoliant</span></td>
                                    <td><span style="margin-left:5px">1970-08-23</span></td>
                                    <td style="padding-left:5px"><span>45</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Fredegar Bo...</span></td>
                                    <td><span style="margin-left:5px">1972-08-30</span></td>
                                    <td style="padding-left:5px"><span>43</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Yelinwe</span></td>
                                    <td><span style="margin-left:5px">1978-09-06</span></td>
                                    <td style="padding-left:5px"><span>37</span></td>
                                </tr>
                                <tr>
                                    <!-- td><strong><a href="#" wicket:id="membersPage"><span wicket:id="alias"/></a></strong></td -->
                                    <td><span>Ellindele</span></td>
                                    <td><span style="margin-left:5px">1976-09-07</span></td>
                                    <td style="padding-left:5px"><span>39</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Boxes Iteration -->
        </div>
        <div id="mainContent" class="col-md-9" data-ng-view></div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div data-ng-include="theme.footer()"></div>
    </div>
</footer>
</body>
</html>